#tooltipJisyo_tooltip {
    display: inline-block;
    background: #ffffee;
    color: #474747;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 0 0 4px #888888;
    z-index: 999999999;
}
#tooltipJisyo_tooltip .scrollArea {
    display: block;
    overflow-y: scroll;
    width: 400px;
    height: 400px;
    max-width: 90vw;
    max-height: 50vw;
    scrollbar-width: none;  /* thin, none*/
}

#tooltipJisyo_tooltip .arrow,
#tooltipJisyo_tooltip .arrow::before {
    box-shadow: 0 0 4px #888888;

    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#tooltipJisyo_tooltip .arrow {
    visibility: hidden;
}

#tooltipJisyo_tooltip .arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltipJisyo_tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

#tooltipJisyo_tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

#tooltipJisyo_tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

#tooltipJisyo_tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

#tooltipJisyo_tooltip h2 {
    color: #000000;
    border: none;
    font-size: 20px;
}
#tooltipJisyo_tooltip h5 {
    color: #000000;
    border: none;
    background-color: #ffddaa;
    font-size: 14px;
    padding: 2px;
}
#tooltipJisyo_tooltip a {
    color: #0645ad;
}